<h1>Add a Task to $category.getName()</h1>

<ol>
#foreach($task in $category.getTasks())
  <h3>$task.getDescription()</h3>
#end
</ol>

<br>
<form action="/categories/$category.getId()/delete" method="post">

  <button type="submit" class="btn btn-success">Delete category</button>
</form>

<form action="/categories/$category.getId()/update">

  <button type="submit" class="btn btn-info">Update this category</button>
</form>
<br>


<a href="/">Return to Main Page</a>
