<h1>Submit the restaurant you would like to delete:</h1>

<form action="/cuisines/$cuisine.getId()/restaurants/delete" method="post">
  <label for="description">Delete Restaurant</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
